# Directories
/bin/
/build/
/.gradle/
/.nb-gradle/
/.idea/
/.settings/

# Sub Directories
*/bin/
*/build/
*/.gradle/
*/.nb-gradle/
*/.idea/
*/.settings/

# Files
.classpath
.project
.DS_Store
*.iml
*.ipr
*.iws
